* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "TTNorms-regular";
  src: url("assets/font/TTNorms-Regular.woff2");
}

@font-face {
  font-family: "TTNorms-medium";
  src: url("assets/font/TTNorms-Medium.woff2");
}

@font-face {
  font-family: "TTNorms-bold";
  src: url("assets/font/TTNorms-Bold.woff2");
}

@font-face {
  font-family: "TTNorms-extrabold";
  src: url("assets/font/TTNorms-ExtraBold.woff2");
}

:root {
  --button-primary-background-color: #eb1700;
  --text-primary-color: #eb1700;
  --base-section-background-color: #fec7bd;
  --header-login-section-button-height: 32px;
  --font-ttnorms-bold: TTNorms-bold;
  --font-ttnorms-regular: TTNorms-regular;
  --font-ttnorms-medium: TTNorms-medium;
  --font-ttnorms-extrabold: TTNorms-extrabold;
  --button-border-radius: 20px;
}

body {
  font-family: var(--font-ttnorms-regular);
}

header {
  height: 550px;
  background-color: var(--text-primary-color);
  background-image: url(assets/pictures/hero_desktop.png);
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header .container {
  height: 100%;
  box-sizing: border-box;
  color: white;
  font-weight: bolder;
}

.doordash-logo-name-top,
.right-arrow-1184 {
  display: none;
}

.login-section {
  display: flex;
  justify-content: end;
  gap: 9px;
  padding-top: 16px;
  margin-right: 24px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.login-section button {
  height: var(--header-login-section-button-height);
  border: none;
  font-size: 16px;
  border-radius: var(--button-border-radius);
  font-weight: 700;
  letter-spacing: -0.01px;
  line-height: 22px;
  font-family: var(--font-ttnorms-bold);
  padding: 0 12px;
}

.login-top {
  letter-spacing: -0.01px;
}

.login-button-header {
  color: black;
  background-color: white;
}

.open-app-button {
  background-color: var(--button-primary-background-color);
  color: white;
}

.signin-top,
.signup-top {
  display: none;
}

.center-items-in-header {
  height: calc(100% - 96px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doordash-logo-name {
  display: flex;
  gap: 8px;
  margin: 20px 0;

  height: 18px;
}

.location {
  display: none;
}

.center-items-content {
  font-family: var(--font-ttnorms-bold);
  font-size: 22px;
  width: 16em;
  text-align: center;
  margin-bottom: 24px;
  line-height: 28px;
}

.center-delivery-address-area {
  color: black;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 4px;
  padding-left: 16px;
}

.address-button {
  display: flex;
  align-items: end;
}

.inner-button {
  display: flex;
  align-items: center;
  color: rgb(90, 90, 90);
  font-family: var(--font-ttnorms-regular);
  letter-spacing: 1px;
}

.right-arrow {
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon,
.right-arrow,
.user-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  margin-right: 12px;
}

.enter-delivery-address-area {
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 12px;
  font-weight: 500;
  padding-bottom: 2px;
  border: none;
  font-family: var(--font-ttnorms-medium);
}

.login-button-parent-div {
  margin-top: 16px;
}

.login-button {
  display: flex;
  align-items: center;
  min-height: 32px;
  color: black;
  background-color: white;
  border-radius: var(--button-border-radius);
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 12px;
  box-shadow: inset 0 0 0 1px #19191900, 0px 2px 8px 0px #19191933;
}

.login-text {
  margin-left: 4px;
  letter-spacing: -0.01px;
  font-family: var(--font-ttnorms-bold);
}

.login-btn-insider {
  display: flex;
  align-items: center;
}

.login-text .signin {
  display: none;
}

.inner-menu-container {
  display: flex;
  justify-content: center;
}

.app-from-playstore {
  width: 360px;
  background-color: rgb(247, 247, 247);
  border: 1px solid #f1f1f1ff;
  border-radius: 16px;
  margin: 20px 20px 0px;
  padding: 20px;
  box-sizing: border-box;
}

.playstore-contents {
  width: 100%;
  display: flex;
}

.playstore-detail-area {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.playstore-img {
  height: 18px;
  display: flex;
  align-items: flex-start;
}

.playstore-img img {
  margin-top: 1px;
}

.app-icon {
  background-color: bisque;
  width: 60px;
  height: 60px;
  margin-right: 8px;
  border-radius: 12px;
  border: 1px solid #f1f1f1ff;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-icon img {
  margin-top: -2px;
  margin-left: -2px;
}

.app-name {
  margin-bottom: 4px;
  font-size: 18px;
  font-family: var(--font-ttnorms-bold);
  letter-spacing: -0.01px;
}

.app-description {
  margin-bottom: 8px;
  letter-spacing: 0px;
  font-family: var(--font-ttnorms-medium);
  font-size: 14px;
  font-weight: 500;
  color: rgb(96, 96, 96);
  display: block;
}

.playstore-detail-area button {
  position: relative;
  min-height: 32px;
  display: inline-flex;
  background-color: var(--button-primary-background-color);
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: fit-content;
  padding: 0 12px;
  border: none;
}

.get-app-button-insider {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05px;
  line-height: 16px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.get-app-btn-text {
  font-family: var(--font-ttnorms-bold);
  letter-spacing: -0.01px;
}

img.get-app-btn-right-arrow {
  margin-left: 4px;
}

.menu-dasher-section {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: center;
}

.dasher-section {
  padding: 8px 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0;
  box-sizing: border-box;
  max-width: -5.58em;
}

.dasher-marbles-insider {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
}

.dasher-marble {
  display: flex;
  width: 100%;
  min-width: 360px;
  flex-flow: row;
  max-width: 100%;
  padding: 16px 16px;
  box-sizing: border-box;
}

.dasher-image {
  margin-right: 32px;
  box-sizing: border-box;
  display: block;
  margin-right: 32px;
}

.dasher-image img {
  height: 88px;
  width: 88px;
  box-sizing: border-box;
  overflow: clip;
}

.dasher-marble-text-area {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
}

.dasher-marble-heading {
  color: #191919;
  font-family: var(--font-ttnorms-bold);
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.dasher-marble-description {
  font-family: var(--font-ttnorms-medium);
  margin-top: 0px;
  color: #191919ff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01px;
  text-align: left;
  box-sizing: border-box;
}

.dasher-marble-button {
  border: none;
  padding: 0px;
  margin: 12px 0 0 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: var(--text-primary-color);
  font-family: var(--font-ttnorms-bold);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01px;
  cursor: pointer;
}

.dasher-marble-arrow {
  margin-left: 4px;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.main-marble,
.main-marble-2 {
  margin-bottom: -300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 90%;
  align-items: center;
  box-sizing: border-box;
}

.main-image {
  width: 100%;
}

.main-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  box-sizing: border-box;
}

.main-marble-contents {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.main-marble-heading {
  text-align: left;
  max-width: 90%;
  margin-top: 20px;
  font-family: var(--font-ttnorms-bold);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.01px;
  display: block;
  box-sizing: border-box;
}

.main-marble-sub-heading {
  margin-top: 10px;
  font-family: var(--font-ttnorms-bold);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.01px;
}

.main-marble-description {
  margin-top: 10px;
  font-family: var(--font-ttnorms-medium);
  font-size: 14px;
  letter-spacing: -0.01px;
  font-weight: 500;
  line-height: 20px;
}

.main-marble-button {
  margin-top: 20px;
  box-sizing: border-box;
}

.main-marble-button button {
  background-color: var(--button-primary-background-color);
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  min-height: 32px;
  padding: 0 12px;
  border: none;
  border-radius: 100px;
}

.desktop-img {
  display: none;
}

.main-marble-button-text {
  color: white;
  font-family: var(--font-ttnorms-bold);
  font-size: 14px;
  font-weight: 700;
}

.main-marble-2 {
  background-color: rgb(254, 241, 238);
  padding-top: 320px;
  display: flex;
  flex-direction: column;
  min-width: 90%;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 0px;
}

.main-marble-2 .main-marble-button-text {
  width: 100%;
}

#grocery-section {
  height: 100%;
  display: block;
}

#grocery-section .section-grocery {
  width: 100%;
  height: 350px;
  background-image: url("https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_cta/grocery_desktop.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

section .section-grocery-insider {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.6);
  display: flex;
  justify-content: center;
}

.section-grocery-contents {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  max-width: 550px;
  margin: auto 0 auto 0;
  color: white;
  text-align: center;
  letter-spacing: -0.01px;
}

.grocery-heading {
  font-family: var(--font-ttnorms-bold);
  font-size: 24px;
  max-width: 90%;
  margin-top: 20px;
  line-height: 28px;
  box-sizing: border-box;
}

.grocery-sub-heading {
  font-family: var(--font-ttnorms-bold);
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
}

.grocery-description {
  font-size: 14px;
  margin-top: 10px;
  line-height: 20px;
  font-family: var(--font-ttnorms-medium);
  font-weight: 500;
  padding: 0px;
  letter-spacing: -0.01px;
}

.grocery-button {
  margin-top: 20px;
}

.grocery-button button {
  background-color: var(--button-primary-background-color);
  font-family: var(--font-ttnorms-bold);
  font-weight: 500;
  color: white;
  border: none;
  font-size: 14px;
  padding: 0 12px;
  min-height: 32px;
  border-radius: var(--button-border-radius);
}

.grocery-button-text {
  letter-spacing: -0.01px;
}

.convenience-section-container {
  letter-spacing: 0.04px;
  padding: 0px;
}

.convenience-section-container .main-marble-button button {
  font-size: 14px;
}

#convenience-section {
  display: block;
  height: auto;
}

.convenience-marble {
  margin-bottom: 0px;
}

.slidebar-marble-heading-section {
  background-color: rgb(254, 241, 238);
  display: flex;
  justify-content: center;
  padding: 40px 20px 20px;
  width: 100%;
  box-sizing: border-box;
}

.slidebar-heading {
  font-family: var(--font-ttnorms-bold);
  text-align: center;
  max-width: 300px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.01px;
}

.slidebar-marble-section {
  display: flex;
  background-color: rgb(254, 241, 238);
  box-sizing: border-box;
}

.slidebar-marble-section-insider {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
  scrollbar-width: none;
  box-sizing: border-box;
}

.slidebar-marble {
  margin-left: 5%;
  margin-right: -10%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 90%;
  align-items: center;
  box-sizing: border-box;
}

.slidebar-marble-image {
  width: 100%;
  box-sizing: border-box;
}

.slidebar-marble-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  box-sizing: border-box;
}

.slidebar-desktop-image {
  display: none;
}

.slidebar-marble-contents {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.slidebar-marble-heading {
  text-align: center;
  max-width: 90%;
  margin-top: 20px;
  font-family: var(--font-ttnorms-bold);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.01px;
}

.slidebar-marble-description {
  font-family: var(--font-ttnorms-medium);
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01px;
  box-sizing: border-box;
}

.slidebar-marble-button {
  margin-top: 20px;
  box-sizing: border-box;
}

.slidebar-marble-button button {
  position: relative;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  min-height: 32px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 99px;
  border: none;
  background-color: var(--button-primary-background-color);
  color: white;
}

.slidebar-marble-button-text {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.01px;
  box-sizing: border-box;
  padding: 0 12px;
  font-family: var(--font-ttnorms-bold);
}

.slidebar-marble-remarks {
  margin-top: 12px;
  font-family: var(--font-ttnorms-bold);
  font-size: 12px;
}

.slidebar-marble-section div:nth-child(4) {
  margin-right: 5%;
}

.signup-dasher {
  background-color: white;
}

#top-cities-bottom-section {
  width: 100%;
  padding: 48px 0px;
  display: flex;
  justify-content: center;
}

.top-cities-bottom-section-container {
  width: 100%;
  height: 100%;
}

.bottom-heading-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.bottom-heading {
  font-family: var(--font-ttnorms-bold);
  font-size: 18px;
  font-weight: 700;
  display: flex;
  line-height: 22px;
}

.bottom-cities-cuisines-section {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.content-box {
  width: 100%;
  text-align: center;
  padding: 8px 10px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #f1f1f1ff;
}

.content-box-text {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: var(--font-ttnorms-medium);
  font-size: 16px;
  color: rgb(73, 73, 73);
  line-height: 22px;
  letter-spacing: -0.01px;
  font-weight: 500;
  line-height: 22px;
}

.bottom-cities-cuisines-section div:nth-child(1) {
  border-bottom: 3px solid #606060ff;
  padding: 7.5px 10px;
}

.bottom-cities-cuisines-section div:nth-child(1) .content-box-text {
  font-family: var(--font-ttnorms-bold);
  color: black;
}

.cities-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.city-list-box {
  padding: 10px;
  height: 40px;
  box-sizing: border-box;
}

.city-list-box:hover {
  background-color: rgb(247, 245, 245);
}

.city-name {
  font-family: var(--font-ttnorms-medium);
  font-weight: 500;
  color: rgb(73, 73, 73);
  padding: 14px 0px;
  letter-spacing: -0.01px;
}

footer {
  background-color: #191919ff;
  color: rgb(208, 203, 203);
  display: flex;
  justify-content: center;
}

.footer-container {
  padding: 0px 20px;
  display: flex;
  width: 100%;
  max-width: 1160px;
}

.footer-inner-container {
  width: 100%;
  max-width: 1120px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.footer-categories {
  padding: 32px 0px;
  width: 100%;
  margin: auto;
}

.categories-heading {
  display: flex;
  font-family: var(--font-ttnorms-regular);
  font-weight: 500;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 22px;
  color: white;
  letter-spacing: 0px;
}

.categories-heading-text {
  font-family: var(--font-ttnorms-medium);
  font-weight: 500;
  letter-spacing: -0.01px;
  color: #ffffff;
}

.categories-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 12px;
}

.categories-list-box {
  margin-top: 8px;
}

.categories-name {
  font-family: var(--font-ttnorms-medium);
  color: rgb(196, 196, 196);
  font-weight: 500;
  letter-spacing: -0.01px;
  font-size: 14px;
  line-height: 20px;
}

.categories-name:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.footer-about-company-section {
  display: grid;
  grid-template-rows: minmax(2);
}

.footer-about-us-section {
  grid-row: 2/3;
}

.download-app-section {
  grid-row: 1/2;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
}

.footer-know-us-contents {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-know-us {
  padding-top: 32px;
  margin-bottom: 12px;
}

.abxy {
  margin-bottom: 0px;
}

.appstore-section {
  background-color: rgb(73, 73, 73);
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 0px;
  padding: 2px 8px;
}

.appstore-logo {
  display: flex;
  height: 100%;
}

.download-app-section div:nth-child(2) {
  margin-top: 12px;
}

.end-footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  font-size: 12px;
  padding: 32px 0px;
  box-sizing: border-box;
  justify-content: center;
}

.end-footer-terms-service {
  display: flex;
  margin-top: 12px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.end-footer-terms-box {
  margin-left: 16px;
  height: 18px;
}

.end-footer-text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: -0.01px;
  font-family: var(--font-ttnorms-medium);
}

.end-footer-text:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.final:hover {
  cursor: default;
  color: unset;
  text-decoration: none;
}

.end-footer-language-country {
  padding: 12px;
}

.end-footer-drop-down-parent {
  display: flex;
  justify-content: center;
  min-height: 32px;
}

.end-footer-dropdown-content {
  background-color: white;
  color: black;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  padding: 4px 12px;
  border-radius: 16px;
  overflow: hidden;
  height: 32px;
  box-sizing: border-box;
  position: relative;
}

.earth-icon {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.language-section {
  display: flex;
  align-items: center;
  width: 94px;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.lang-dropdown {
  border: none;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01px;
  font-weight: 500;
  appearance: none;
}

.end-footer-down-arrow {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  height: 100%;
  display: flex;
  align-items: end;
  margin-right: 12px;
}

.end-footer-down-arrow img {
  margin-bottom: 2px;
}

.end-footer-social-media-parent {
  display: flex;
  justify-content: center;
  height: 28px;
}

.end-footer-social-media {
  min-width: fit-content;
  max-width: 96px;
  width: 96px;
  display: flex;
  justify-content: space-between;
}

.end-footer-social-logo {
  width: fit-content;
  height: initial;
}

.end-footer-logo-parent {
  margin-left: 0px;
}

@media screen and (min-width: 481px) {
  .end-footer-language-country {
    padding: 0px;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 650px;
    background-size: auto inherit;
    background-position-y: 0.07em;
  }

  .signin-top,
  .signup-top,
  .doordash-logo-name-top {
    display: contents;
  }

  .login-top,
  .openapp-top,
  .doordash-logo-name {
    display: none;
  }

  .doordash-logo-name-top {
    width: 100%;
    height: 100%;
  }

  .doordash-logo-name-top .doordash-name {
    display: flex;
    margin-bottom: 2px;
    font-family: var(--font-ttnorms-regular);
    font-size: 1.05em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .doordash-logo-name-top .doordash-name .logo svg {
    width: 32px;
    height: 18px;
  }

  .doordash-logo-name-svg {
    margin-left: 8px;
    margin-bottom: -4px;
  }

  .login-button-header,
  .open-app-button {
    min-height: 40px;
  }

  .signin-top,
  .signup-top {
    font-size: 18px;
  }

  .login-button-header {
    color: white;
    background-color: var(--button-primary-background-color);
  }

  .open-app-button {
    background-color: white;
    color: black;
  }

  .navigation-section {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .login-section {
    margin-left: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
  }

  .navigation-buttons {
    display: flex;
  }

  .location {
    display: inline-flex;
  }

  .search {
    display: none;
  }

  .center-delivery-address-area {
    padding: 8px;
    padding-left: 20px;
  }

  .login-text .login {
    display: none;
  }

  .login-text .signin {
    display: contents;
  }

  .login-text .signin .saved-address {
    display: none;
  }

  .center-items-in-header {
    height: calc(100% - 66px);
  }

  .center-items-content {
    font-size: 22px;
  }

  .enter-delivery-address-area {
    width: 292px;
  }

  .app-from-playstore {
    display: none;
  }

  .dasher-section {
    margin: 32px 0;
  }

  .dasher-image {
    margin-right: 64px;
    box-sizing: border-box;
  }

  .dasher-image img {
    height: 124px;
    width: 124px;
  }

  .mobile-img {
    display: none;
  }

  .main-marble {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: -60px;
    min-width: 90%;
    box-sizing: border-box;
    padding: 20px;
  }

  .inner-main-marble {
    display: flex;
    flex-direction: row;
    min-height: 504px;
    justify-content: center;
    gap: 60px;
    max-width: 1184px;
    box-sizing: border-box;
  }

  .main-marble-contents {
    max-width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .main-marble-heading {
    max-width: 90%;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.01px;
    box-sizing: border-box;
  }

  .main-marble-sub-heading {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  .main-marble-description {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01px;
    box-sizing: border-box;
  }

  .main-marble-button {
    margin-top: 30px;
    box-sizing: border-box;
  }

  .main-marble-button button {
    max-width: 100%;
    height: 40px;
  }

  .main-marble-button-text {
    font-size: 16px;
    line-height: 22px;
    display: block;
  }

  .desktop-img {
    display: flex;
    width: 100%;
  }

  .main-img-desktop img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    overflow: clip;
  }

  .main-marble-2 {
    padding-top: 80px;
  }

  .main-marble-2 .main-marble-description {
    margin-top: 20px;
  }

  .convenience-marble {
    margin-bottom: -40px;
  }

  #grocery-section {
    height: 600px;
  }

  #grocery-section .section-grocery {
    width: 100%;
    height: 100%;
  }

  .grocery-heading {
    font-size: 40px;
    line-height: 40px;
  }

  .grocery-sub-heading {
    font-size: 20px;
    margin-top: 20px;
    line-height: 24px;
  }

  .grocery-description {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
  }

  .grocery-button {
    margin-top: 30px;
  }

  .grocery-button button {
    height: 40px;
  }

  .grocery-button-text {
    font-size: 16px;
    line-height: 22px;
  }

  .convenience-marble {
    padding: 60px 20px 20px 20px;
  }

  .convenience-inner-marble {
    display: flex;
    flex-direction: row;
    gap: 60px;
    min-height: 504px;
  }

  .convenience-section-container .main-marble-description {
    margin-top: 20px;
  }

  .convenience-section-container .main-marble-button {
    width: 100%;
  }

  .slidebar-marble-heading-section {
    padding: 60px 20px 40px;
  }

  .slidebar-heading {
    text-align: center;
    max-width: 500px;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01px;
  }

  .slidebar-marble-section {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    max-height: 100%;
    height: 100%;
    width: 100%;
  }

  .slidebar-marble-section-insider {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1180px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    max-width: 1184px;
  }

  .slidebar-marble {
    margin: 0px;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    width: 50px;
  }

  .slidebar-desktop-image {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .slidebar-marble-button button {
    height: 40px;
  }

  .slidebar-marble-remarks {
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: -0.04px;
    font-family: var(--font-ttnorms-medium);
    line-height: 20px;
  }

  .slidebar-desktop-image img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    box-sizing: border-box;
  }

  .slidebar-marble-heading {
    font-size: 40px;
    line-height: 40px;
    margin-top: 16px;
  }

  .slidebar-marble-button {
    margin-top: 30px;
  }

  .slidebar-marble-description {
    font-size: 16px;
    margin-top: 20px;
    line-height: 22px;
  }

  .slidebar-marble-button-text {
    font-size: 16px;
    line-height: 22px;
  }

  .line-break::after {
    content: "\A";
    white-space: pre;
  }

  .bottom-heading {
    font-size: 32px;
    line-height: 40px;
  }

  .cities-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .categories-heading {
    justify-content: left;
  }

  .categories-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
  }

  .footer-about-us-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-about-us-section .categories-list-box {
    display: flex;
    justify-self: left;
  }

  .end-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .end-footer-drop-down-parent {
    padding: 0px 12px;
  }

  .footer-know-us {
    margin-bottom: 0px;
  }

  .end-footer-terms-service {
    margin-top: 0px;
  }
}

@media screen and (min-width: 769px) {
  .center-items-content {
    width: 100%;
    font-size: 40px;
    letter-spacing: -0.03px;
    font-weight: 600;
    line-height: 40px;
  }

  .enter-delivery-address-area {
    padding-left: 1px;
  }

  .address-button .center-delivery-address-area {
    margin-left: -2px;
  }
}

@media screen and (min-width: 960px) {
  .doordash-logo-name-top .doordash-name .logo img {
    width: 42px;
    height: 24px;
  }

  .doordash-logo-name-top .doordash-name .doordash-logo-name-svg img {
    width: 155px;
    height: 18px;
  }

  .logo {
    margin-bottom: -9px;
    margin-right: 4px;
    margin-left: 1px;
  }

  .doordash-logo-name-top .doordash-name .logo svg {
    width: 42px;
    height: 24px;
  }

  .login-text .signin .saved-address {
    display: contents;
  }

  .login-section {
    margin-bottom: 16px;
  }

  .center-items-in-header {
    height: calc(100% - 72px);
  }

  .doordash-logo-name-top .doordash-name {
    height: 24px;
    margin-bottom: 0;
  }

  .address-button .center-delivery-address-area {
    margin-left: 0;
  }

  .doordash-logo-name-svg {
    align-items: center;
    display: flex;
    margin-bottom: 1px;
  }

  .enter-delivery-address-area {
    padding-left: 0;
  }

  .login-button {
    min-height: 32px;
    letter-spacing: 0.01px;
  }

  .login-btn-insider {
    display: flex;
  }

  .cities-list {
    grid-template-columns: repeat(5, 1fr);
  }

  .footer-about-company-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
  }

  .footer-about-us-section {
    grid-column: 1/2;
    grid-row: 1/2;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    display: flex;
    justify-content: space-between;
  }

  .download-app-section {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .appstore-section {
    margin-right: 0px;
    margin-top: 0px;
  }

  .download-app-section div:nth-child(2) {
    margin-top: 12px;
  }
}

@media screen and (min-width: 996px) {
  .end-footer {
    align-items: center;
  }

  .end-footer-social-media-parent {
    margin-top: -4px;
  }
}

@media screen and (min-width: 1184px) {
  .right-arrow-small {
    display: none;
  }

  .right-arrow-1184 {
    display: unset;
  }

  .right-arrow {
    display: flex;
    align-items: center;
    background-color: var(--button-primary-background-color);
    width: 40px;
    border-radius: 30px;
    color: white;
  }

  .menu-dasher-section {
    width: 100%;
  }

  .dasher-section {
    margin: 96px 0;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 12px 12px;
    box-sizing: border-box;
  }

  .dasher-marbles-insider {
    flex-direction: row;
    justify-content: center;
    width: 1080px;
    height: 420px;
  }

  .dasher-marble {
    flex-flow: column;
    width: 100%;
    min-width: 360px;
  }

  .dasher-image {
    display: flex;
    justify-content: center;
  }

  .dasher-image img {
    height: 154px;
    width: 154px;
  }

  .dasher-contents {
    min-height: 160px;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 194px;
  }

  .dasher-marble-heading {
    font-size: 32px;
    line-height: 40px;
    display: block;
    text-align: center;
  }

  .dasher-marble-description {
    text-align: center;
    margin-top: 8px;
  }

  .dasher-marble-button {
    justify-content: center;
    width: inherit;
    max-width: 250px;
    font-size: 18px;
    line-height: 22px;
  }

  .dasher-marble-arrow {
    font-weight: 900;
  }

  .top-cities-bottom-section-container {
    max-width: 1130px;
  }
}

@media screen and (min-width: 1440px) {
  header {
    background-position: center;
  }
}
